---
import Typewriter from '~/components/Typewriter';
import Typography from '~/components/Typography';

const typewriterTexts = [
  'React apps',
  'Great developer experiences',
  'Ruby on Rails apps',
  'Node.js apps',
  'WordPress sites',
  'Native integrations',
];
---

<div class="font-mono self-start md:self-auto text-left md:text-center">
  <div class="flex md:inline-flex items-start md:items-center justify-start gap-4 border border-neutral-300 dark:border-zinc-900 rounded-md p-4 transition-all duration-300">
    <Typography
      as="span"
      token="font-extrabold/text/4xl"
      color="teal"
      colorWeight={600}
      darkColor="teal"
      darkColorWeight={500}
    >
      $
    </Typography>
    <Typewriter
      texts={typewriterTexts}
      speed={100}
      deleteSpeed={50}
      speedVariance={0.3}
      randomizeDeleteSpeed
      pauseBeforeDelete={1600}
      pauseBeforeType={420}
      loop
      className="font-semibold text-4xl text-neutral-800 dark:text-neutral-100"
      client:only="react"
    />
  </div>
</div>